<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd 
	   		http://www.springframework.org/schema/aop
	   		http://www.springframework.org/schema/aop/spring-aop.xsd">

<context:component-scan base-package="com.springDesignPattern.chapter6.service,
								com.springDesignPattern.chapter6.repo, 
								com.springDesignPattern.chapter6.aop"/>
								<aop:aspectj-autoproxy/>
<!--  
	
	<bean id="accountService"
		class="com.springDesignPattern.chapter6.service.AccountService" >
	<constructor-arg ref="accountRep"/>
	</bean>
	<bean id="accountRep"
		class="com.springDesignPattern.chapter6.repo.AccountRepositoryImpl"  />
	<bean id="logAspect"
		class="com.springDesignPattern.chapter6.aop.LoggingAspect"  />
-->
</beans>